<nav class="navbar fixed-top navbar-expand-lg " style="background-color: #D7D7D7;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">RetroBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Trang chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Giới thiệu</a></li>
                <li class="nav-item"><a class="nav-link" href="/#products">Shop</a></li>
            </ul>
            <div class="d-flex dropdown">
                {{!-- <li class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </li> --}}
                <div class="m-auto pe-2">{{userName}}</div>
                {{#if loggedIn}}
                <img class="profile-image nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false"
                    src="https://www.kaericature.com/wp-content/uploads/2023/05/charlie_chaplin_avatar2.jpg"
                    style="width: 40px; height: 40px;border-radius: 50%;">
                {{else}}
                <img class="profile-image nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" src="http://localhost:4000//img/profile-image.png">
                {{/if}}
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if loggedIn}}
                    {{#unless isAdmin}}
                    <li><a class="dropdown-item" href="/me/profile">Trang cá nhân</a></li>
                    <li><a class="dropdown-item" href="/carts">Giỏ hàng</a></li>
                    <li><a class="dropdown-item" href="/products/create">Thêm sách</a></li>
                    {{else}}
                    <li><a class="dropdown-item" href="/users">Người dùng</a></li>
                    <li><a class="dropdown-item" href="/products">Sản phẩm</a></li>
                    {{/unless}}
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="/me/password">Đổi mật khẩu</a></li>
                    <li>
                        <form class="dropdown-item" action="/me/logout" method="POST">
                            <button type="submit"
                                style="margin-left: -6px;width: 110%;height: 100%; border: none;background-color: white;text-align: left;">Đăng
                                xuất</button>
                        </form>
                    </li>
                    {{/if}}
                    {{#unless loggedIn}}
                    <li><a class="dropdown-item" href="/me/login">Đăng nhập</a></li>
                    <li><a class="dropdown-item" href="/me/logup">Đăng ký</a></li>
                    {{/unless}}

                </ul>
            </div>
        </div>
    </div>
</nav>